/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.top_contacts {
	margin-left: 15px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .main_menu ul {
		display: none;
		position: absolute;
		background-color: #fff;
		width: 50%;
		top: 70px;
	}
    .main_menu ul li {
		display: block;
	}
	.f48px {
		font-size: 32px;
	}
	.f42px {
		font-size: 30px;
	}
	.f36px {
		font-size: 18px;
	}
	.f24px {
		font-size: 15px;
	}
	.f18px {
		font-size: 13px;
	}
	.main_menu_button {
	    font-size: 23px;
		margin-top: 5px;
    }
	.top_contacts {
	    float: right;
	    margin-top: 15px;
    }
	.container2 {
		right: 0%;
		width: 100%;
		padding-left: 20px;
		padding-right: 10px;
	}
	.container3 {
		right: 0%;
		width: 100%;
		padding-left: 20px;
		padding-right: 10px;
		top: 40px;
	}
	.contacti1 {
		padding-bottom: 5px;
	}
	.none {
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.logo {
		width: 100%;
		margin: 0 auto;
	}
	.main_menu_button {
	font-size: 20px;
    }
	.f42px {
		font-size: 25px;
	}
	.top_contacts {
	    margin-top: 10px;
    }
	header {
		height: 500px;
    } 
	#map {
		height: 440px;
	}
	#map1 {
		height: 440px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main_menu ul {
		display: block !important;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}